{% extends 'blog_base.html' %}

{% block title %}블로그 홈{% endblock %}

{% load static %}

{% block content %}

<!--Main layout-->
<main class="pt-4">

    <!--Blog section-->
    <section>
        <div class="container">

            <!--Section heading-->
            <h2 class="text-center h2 my-5 pt-4">For-Creator</h2>
            <!--Section description-->
            <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
                크리에이터들이 만든 세계를 감상하세요.
            </p>

    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center">
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible" role="alert">
            {% else %}
                <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
            {% endif %}
                    {{message|safe}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
            
            <!-- Search form -->
            <form class="form-inline d-flex justify-content-center md-form form-sm">
                <input type="hidden" name="search-type" value="question">
                <input class="form-control form-control-sm mr-3 w-75" type="text" name="value" placeholder="검색어를 입력해주세요" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>

            {% if post_list %}
            <!--Grid row-->
            <div class="row text-center mb-2">
                {% for post in page_obj %}

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay z-depth-1 mb-2">
                    {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" class="img-fluid" alt="blog thumbnail">
                    {% else %}
                        <img src="{% static 'img/blog/blog-post-img1.jpg' %}" class="img-fluid" alt="blog thumbnail">
                    {% endif %}
                        <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title%}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <h4 class="mb-2 mt-4 font-weight-bold">
                        <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title%}">{{post.title}}</a>
                    </h4>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-6 text-lg-left">
                            <p class="grey-text">
                                <i class="far fa-user" aria-hidden="true"></i><a href="{% url 'blog:member_blog' post.user %}"> {{post.user}}</a>
                            </p>
                        </div>
                        <!--Grid column-->
                        
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-6 text-lg-right">
                            <p class="grey-text">
                                <i class="far fa-calendar" aria-hidden="true"></i> {{post.created_date|date:'Y-m-d H:i'}}
                            </p>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <p class="dark-grey-text">{{ post.content|striptags }}</p>
                    <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title%}" class="btn custom-color-gradient btn-rounded btn-sm">
                        Read more
                    </a>
                    <hr class="mt-1" style="max-width: 90px">
                </div>
                <!--Grid column-->
                {% endfor %}

            </div>
            <!--Grid row-->

             <!--Pagination -->
             <nav class="my-4 flex-center">
                <ul class="pagination mb-0">

                    {% if page_obj.has_previous %}
                    <!--Arrow left-->
                    <li class="page-item active">
                        <a href="?search-type={{search_type}}&value={{value}}&page={{page_obj.previous_page_number}}" class="custom-color page-link" aria-label="Previous">
                            이전 페이지
                        </a>
                    </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <!--Arrow right-->
                    <li class="page-item active">
                        <a href="?search-type={{search_type}}&value={{value}}&page={{page_obj.next_page_number}}" class="custom-color page-link" aria-label="Next">
                            다음 페이지
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            <!--/Pagination -->

            {% else %}
                <ul class="nav nav-tabs md-tabs" id="themeTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="전체-tab" data-toggle="tab" href="#전체" role="tab" aria-controls="전체-tab" aria-selected="true">전체</a>
                    </li>
                {% for theme in theme_list %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{theme.slug_name}}-tab" data-toggle="tab" href="#{{theme.slug_name}}" role="tab" aria-controls="{{theme.slug_name}}-tab" aria-selected="false">
                            {{theme}}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tab-content card pt-5" id="themeTabContent">
                    <div class="tab-pane fade show active" id="전체" role="tabpanel" aria-labelledby="전체-tab">
                        <p>Raw denim qui.</p>
                    </div>
                {% for theme in theme_list %}
                    <div class="tab-pane fade" id="{{theme.slug_name}}" role="tabpanel" aria-labelledby="{{theme.slug_name}}-tab">
                        <p>Food truck fixie locavore, acc</p>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>
    <!--Blog section-->

</main>
<!--Main layout-->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
function getActiveTheme() {
    return $('#themeTab li a.active').attr('href');
}

var theme = getActiveTheme();

// Initial Page Load
if (theme === "#전체") {
    $.get('/api/posts')
    .done(function (data) {
        createTabContent(data, theme);
    });
}
</script>
<script>
$('#themeTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');

    var theme = $(this).attr('href');
    var requestUrl = (theme !== '#전체') ? '/api/themes/' + theme.slice(1) + '/posts' : '/api/posts';

    $.get(requestUrl)
    .done(function (data) {
        createTabContent(data, theme);
    });
});
</script>
<script>
// 동적으로 만들어진 Element는 $(document).on(...)으로 접근
$(document).on('click', '.pagination li a[href="#"]', function (e) {
    e.preventDefault();
    var page = $(this).attr('data-page');

    $.get(page)
    .done(function (data) {
        var theme = getActiveTheme();
        
        var tabContent = createTabContent(data, theme);
        tabContent.children('div.row.text-center.mb-2').hide();
        tabContent.children('div.row.text-center.mb-2').fadeIn(1000);
    });

    $('html').scrollTop(0);
});
</script>
<script>
function createPosts(data) {
    var div = $('<div class="row text-center mb-2"></div>');
    var posts = ''

    $.each(data.results, function(index, item) {
        var createdDate = '<div class="col-lg-6 col-md-6 text-lg-right"><p class="grey-text"><i class="far fa-calendar" aria-hidden="true"></i> ' + item.created_date + '</p></div>';
        var user = '<div class="col-lg-6 col-md-6 text-lg-left"><p class="grey-text"><i class="far fa-user" aria-hidden="true"></i><a href="/blog/' + item.user + '"> ' + item.user + '</a></p></div>';
        var postMeta = $('<div class="row"></div>').html(user + createdDate);
        var thumbnail = '';

        var postUrl = '/blog/' + item.user + '/' + item.slug_title;

        if (item.thumbnail) {
            thumbnail += '<div class="view overlay z-depth-1 mb-2"><img src="' + item.thumbnail+ '" class="img-fluid" alt="blog image"><a href="' + postUrl + '"><div class="mask rgba-white-slight"></div></a></div>';
        } else {
            var defaultThumbnail = "{% static  'img/blog/blog-post-img1.jpg' %}";
            thumbnail += '<div class="view overlay z-depth-1 mb-2"><img src="' + defaultThumbnail + '" class="img-fluid" alt="blog thumbnail"><a href="' + postUrl + '"><div class="mask rgba-white-slight"></div></a></div>';
        }
        
        var title = '<h4 class="mb-2 mt-4 font-weight-bold"><a href="' + postUrl + '">' + item.title +'</a></h4>';
        var contentStripTags = item.content.replace(/(<([^>]+)>)/ig,"");
        var content = '<p class="dark-grey-text" class="btn custom-color-gradient btn-rounded btn-sm">' + contentStripTags  + '</p>';
        var readMore = '<a href="' + postUrl + '" class="btn custom-color-gradient btn-rounded btn-sm">Read more</a>';
        var hr = '<hr class="mt-1" style="max-width: 90px">'

        var post = $('<div class="col-lg-4 col-md-12 mb-4"></div>').html(thumbnail + title + postMeta.prop('outerHTML') + content + readMore + hr);

        posts += post.prop('outerHTML');
    });

    var result = div.html(posts).prop('outerHTML');

    return result
}

function createPaginationButton (data) {
    result = ''
        
    if (data.previous) {
        const previousPage = new URL(data.previous);

        result +=  '<li class="page-item active"><a href="#" data-page="' + previousPage.pathname + previousPage.search + '" class="page-link" aria-label="Previous">이전 페이지</a></li>'
    }
    
    if (data.next) {
        const nextPage = new URL(data.next);

        result +=  '<li class="page-item active"><a href="#" data-page="' + nextPage.pathname + nextPage.search + '" class="page-link" aria-label="Previous">다음 페이지</a></li>'
    }
        
    return result
}

function createPagination (data) {
    var nav = $('<nav class="my-4 flex-center"></nav>');
    var ul = $('<ul class="pagination mb-0"></ul>');
    var paginationButton = createPaginationButton(data);

    var result = nav.html(ul.html(paginationButton).prop('outerHTML')).prop('outerHTML');

    return result
}

function createTabContent(data, theme) {
    var posts = createPosts(data);
    var result = $(theme).html(posts + createPagination(data));

    return result
}
</script>
{% endblock %}