{% extends 'member_blog_setting_base.html' %}

{% load static %}

{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">글 만들기</h3>
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <strong>Basic Form</strong> Elements
                                    </div>
                                    <div class="card-body card-block">
                                        {% for field in form %}
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                {{field.label_tag}}
                                            </div>
                                            <div class="col col-md-9">
                                                {{field}}
                                                {{field.errors}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="{% static 'cooladmin/vendor/jquery-3.2.1.min.js' %}"></script>

<!-- TagEditor JS -->
<script src="{% static 'cooladmin/tagEditor/jquery.caret.min.js' %}"></script>
<script src="{% static 'cooladmin/tagEditor/jquery.tag-editor.min.js' %}"></script>

<script>
    $('#id_tag').tagEditor({
        delimiter: ', ', /* space and comma */
        placeholder: '최대 3개까지 태그를 입력할 수 있고, 글자 수 제한은 최대 30자입니다.',
        maxTags: 3,
        maxLength: 30,
    });
</script>
{% endblock %}