{% extends 'member_blog_setting_base.html' %}

{% load static %}

{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">블로그 설정 홈</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                            <h3 class="title-2 tm-b-5">카테고리 점유율<small>(전체 글 중에서 해당 카테고리 글의 비율)</small></h3>
                            <div class="row no-gutters">
                                <div class="col-xl-12">
                                    <div class="percent-chart">
                                        <canvas id="category-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="{% static 'cooladmin/vendor/jquery-3.2.1.min.js' %}"></script>

<!-- Vendor JS       -->
<script src="{% static 'cooladmin/vendor/chartjs/Chart.bundle.min.js' %}"></script>

{{categories|json_script:"categories"}}

<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    
    return color;
}
</script>
<script>
var categories = JSON.parse($('#categories').text());

var categoryLabels = [];
var categoryData = [];
var categoryBackgroundColors = [];

$.each(categories, function(key, value) {
    categoryLabels.push(key);
    categoryData.push(Number(value));
    categoryBackgroundColors.push(getRandomColor());
});

var ctx = 'category-chart';

var chart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: categoryLabels,
        datasets: [{
            data: categoryData,
            backgroundColor: categoryBackgroundColors
        }]
    },
    options : {
            legend: {
                position: 'left'
            }
        }
});
</script>
{% endblock %}