{% extends 'blog_base.html' %}

{% block title %}{{post.title}}{% endblock %}

<!-- {% load static %} -->

{% block content %}
    <!-- crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- instead of bootstrap breadcrumb -->
                    <div class="crumbs-inner"> 
                        <h2>{{post.blog}}</h2>
                        <ul>
                            <li><a href="{% url 'blog_index' %}">블로그</a></li>
                            <li><a href="{% url 'blog:member_blog' post.user %}">{{post.user}}</a></li>
                            <li><span>글</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- crumbs area end -->
    <!-- blog post area start -->
    <div class="blog-details ptb--120">
        <div class="container">
            <div class="row">
                <!-- blog details area start -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-info">
                        <h1 class="blog-title text-center">{{post.title}}</h1>
                        <div class="blog-meta text-right">
                            <ul>
                                <li><i class="fa fa-calendar"></i> {{post.created_date|date:'Y-m-d H:i'}}</li>
                                <li><i class="fa fa-user"></i>{{post.user.username}}</li>
                            </ul>
                        </div>
                        <div class="blog-summery">
                            {{post.content|safe}}
                            <div class="blog-single-tags">
                                <h2>태그</h2>
                                <ul>
                                    {% for tag in post.tag.all %}
                                    <li><a href="#">{{tag.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- comment area start -->
                    <div class="comment-area">
                        <div class="comment-title">
                            <h4>댓글</h4>
                        </div>
                        {% load disqus_tags %}
                        {% disqus_show_comments %}
                    </div>
                    <!-- comment area end -->
                </div>
                <!-- blog details area end -->
            </div>
        </div>
    </div>
    <!-- blog post area end -->
{% endblock %}