{% extends 'blog_base.html' %}

{% block title %}{{blog.user}}의 블로그{% endblock %}

{% load static %}

{% block content %}
    <!-- crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="crumbs-inner">
                        <h2>{{blog.name}}</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span>Blog With Sidebar</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- crumbs area end -->
    <!-- blog post area start -->
    <div class="blog-post-area bp-with-sidebar pb--100">
        <div class="container">
            <div class="row">
                <!-- blog list area start -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="blog-list">
                            {% for post in page_obj %}
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="list-item">
                                    <div class="blog-thumbnail">
                                        <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title %}">
                                            {% if post.thumbnail %}
                                            <img src="{{post.thumbnail.url}}" alt="blog thumbnail">
                                            {% else %}
                                            <img src="{% static 'img/blog/blog-post-img1.jpg' %}" alt="blog thumbnail">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <h2 class="blog-title">
                                        <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title %}">
                                            {{post.title}}
                                        </a>
                                    </h2>
                                    <div class="blog-meta">
                                        <ul>
                                            <li><i class="fa fa-calendar"></i>{{post.created_date|date:'Y-m-d H:i'}}</li>
                                            <li><i class="fa fa-user"></i>{{post.user}}</li>
                                        </ul>
                                    </div>
                                    <div class="blog-summery">
                                        <p>{{post.content|striptags}}</p>
                                    </div>
                                    <a href="{% url 'blog:member_blog_post_detail' username=post.user slug_title=post.slug_title %}" class="read-more">
                                        더 보기
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- pagination area start -->
                    <div class="pagination">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li><a href="?search-type={{search_type}}&value={{value}}&page={{page_obj.previous_page_number}}">이전 페이지</a></li>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li><a href="?search-type={{search_type}}&value={{value}}&page={{page_obj.next_page_number}}">다음 페이지</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- pagination area end -->
                </div>
                <!-- blog list area end -->
                <!-- sidebar area start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="sidebar--area">
                        <!-- widget search area start -->
                        <div class="widget widget-search">
                            <form action="">
                                <input type="hidden" name="search-type" value="question">
                                <input type="text" name="value" minlength="2" placeholder="검색어를 입력해주세요." required>
                                <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- widget search area end -->
                        <!-- widget categoriy area start -->
                        <div class="widget widget-category">
                            <div class="widget-title">
                                <h2>카테고리</h2>
                            </div>
                            <div class="widget--category-list">
                                <ul>
                                    {% for category in categories %}
                                    <li><a href="?search-type=category&value={{category.slug_name}}">{{category.name}} <span>({{category.post__count}})</span></a></li>
                                    {% endfor %}
                                    <li><a href="?search-type=category&value=etc">기타<span>({{category_etc_count}})</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- widget categoriy area end -->
                        <!-- widget tags area start -->
                        <div class="widget widget-tags">
                            <div class="widget-title">
                                <h2>태그</h2>
                            </div>
                            <div class="widget-tag-list">
                                {% for tag in tags %}
                                <a href="?search-type=tag&value={{tag.slug_name}}">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- widget tags area end -->
                    </div>
                </div>
                <!-- sidebar area end -->
            </div>
        </div>
    </div>
    <!-- blog post area end -->
{% endblock %}