{% extends 'blog_base.html' %}

{% block title %}{{username}}'s BLOG{% endblock %}

<!-- {% load static %} -->

{% block content %}
    <!-- crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="crumbs-inner">
                        <h2>{{blog.name}}</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span>Blog Details</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- crumbs area end -->
    <!-- blog post area start -->
    <div class="blog-details ptb--120">
        <div class="container">
            <div class="row">
                <!-- blog details area start -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-info">
                        <div class="blog-thumbnail">
                            <img src="{% static 'img/blog/blog-big-img.jpg' %}" alt="blog thumbnail">
                        </div>
                        <h2 class="blog-title">{{object.title}}</h2>
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa fa-calendar"></i>{{object.created_date}}</li>
                                <li><i class="fa fa-comment"></i>Comments</li>
                            </ul>
                        </div>
                        <div class="blog-summery">
                            {{object.content}}
                            <div class="blog-single-tags">
                                <h2>Tag's</h2>
                                <ul>
                                    {% for tag in object.tag.all %}
                                    <li><a href="tag/{{tag.slug_name}}">{{tag.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- comment area start -->
                    <div class="comment-area">
                        <div class="comment-title">
                            <h4>Visitor Comments <span>(03)</span></h4>
                        </div>
                        <ul class="comment-list">
                            <li class="comment-info-inner">
                                <article>
                                    <div class="comment-author">
                                        <img src="{% static 'img/author/tst-author1.jpg' %}" alt="image">
                                        <h2>Luisiana garcias</h2>
                                    </div>
                                    <div class="meta-data">
                                        <p class="category">Category : <span>Apartment</span></p>
                                    </div>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</p>
                                    </div>
                                    <div class="comment-reply">
                                        <a href="#"><i class="fa fa-reply"></i></a>
                                    </div>
                                </article>
                                <ul class="children">
                                    <li class="comment-info-inner">
                                        <article>
                                            <div class="comment-author">
                                                <img src="{% static 'img/author/tst-author2.jpg' %}" alt="image">
                                                <h2>Luisiana garcias</h2>
                                            </div>
                                            <div class="meta-data">
                                                <p class="category">Category : <span>Apartment</span></p>
                                            </div>
                                            <div class="comment-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</p>
                                            </div>
                                            <div class="comment-reply">
                                                <a href="#"><i class="fa fa-reply"></i></a>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment-info-inner">
                                <article>
                                    <div class="comment-author">
                                        <img src="{% static 'img/author/tst-author1.jpg' %}" alt="image">
                                        <h2>Luisiana garcias</h2>
                                    </div>
                                    <div class="meta-data">
                                        <p class="category">Category : <span>Apartment</span></p>
                                    </div>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</p>
                                    </div>
                                    <div class="comment-reply">
                                        <a href="#"><i class="fa fa-reply"></i></a>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <!-- comment area end -->
                </div>
                <!-- blog details area end -->
            </div>
        </div>
    </div>
    <!-- blog post area end -->
{% endblock %}