{% extends 'member_blog_setting_base.html' %}

{% load static %}

{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title-5 m-b-35">사용자 설정</h3>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>비밀번호 변경</strong>
                                </div>
                                <form action="{% url 'blog:member_blog_setting_user' user.get_username %}" method="post">
                                    <div class="card-body card-block">
                                        <div class="alert alert-warning" role="alert">
                                            <h4 class="alert-heading">안내!</h4>
                                            <ul>
                                                <li>비밀번호는 개인정보를 포함하면 안됩니다.</li>
                                                <li>비밀번호는 8자 이상이어야 합니다.</li>
                                                <li>비밀번호는 일반적이면 안됩니다.</li>
                                                <li>비밀번호는 숫자만 사용해서는 안됩니다.</li>
                                            </ul>
                                            <hr>
                                            <p class="mb-0">계속 진행하시겠습니까?</p>
                                        </div>
    
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="row form-group">
                                                <div class="col-md-3">
                                                    {{field.label_tag}}
                                                </div>
                                                <div class="col-md-9">
                                                    {{field}}
                                                    {{field.errors}}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="row justify-content-md-center">
                                                {% if message.tags == 'error' %}
                                                    {% with danger="danger" %}
                                                        <div class="alert alert-{{danger}} alert-dismissible" role="alert">
                                                    {% endwith %}
                                                {% else %}
                                                    <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                                                {% endif %}
                                                
                                                    {{message|safe}}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <input type="hidden" name="_method" value="put">
                                        <button type="submit" class="btn btn-warning btn-sm">비밀번호 변경</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>회원 탈퇴</strong>
                                </div>
                                <div class="card-body card-block">
                                    <div class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">안내!</h4>
                                        <p>회원 탈퇴를 진행하면 이 계정과 관련된 모든 정보가 삭제됩니다.</p>
                                        <p>다시는 정보를 복구할 수 없습니다.</p>
                                        <hr>
                                        <p class="mb-0">그래도 진행하시겠습니까?</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <form action="{% url 'blog:member_blog_setting_user' user.get_username %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="btn btn-danger btn-sm">회원 탈퇴</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="{% static 'cooladmin/vendor/jquery-3.2.1.min.js' %}"></script>
{% endblock content%}