<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% load static %}

    <!-- favicon -->
    <link rel="icon" href="{% static 'img/icon/favicon.ico' %}">

    <title>For-Creator</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.cs' %}s">
    <link rel="stylesheet" href="{% static 'css/magnificpopup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mb.YTPlayer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- preloader area end -->
    <!-- header area start -->
    <header id="header">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="menu-area">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="/"><img src="{% static 'img/icon/for-creator-logo1.png' %}" alt="For-Creator-logo1"></a>
                            </div>
                        </div>
                        <div class="col-md-9 hidden-xs hidden-sm">
                            <div class="main-menu">
                                <nav class="nav-menu">
                                    <ul>
                                        <li class="active"><a href="#home">Home</a></li>
                                        <li><a href="{% url 'blog_index' %}">Blog</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- about area start -->
    <div class="about-area ptb--100">
        <div class="container">
            <div class="section-title">
                <h2>About For-Creator</h2>
                <p>For-Creator는 매우 간단하고 깨끗한 UI와 UX로 컨텐츠를 제공할 수 있는 <strong>Creator를 위한 서비스</strong>입니다.</p>
            </div>
            <div class="row d-flex flex-center">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="about-left-img">
                        <img src="{% static 'img/about/about-image.png' %}" alt="about-image">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                    <div class="about-content">
                        <p>우리는 현재 블로그 서비스를 제공하고 있습니다.</p>
                        <p>다양한 형식의 컨텐츠를 제공할 수 있는 서비스를 지속 개발할 것입니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->
    <!-- achivement area start -->
    <div class="achivement-area ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <p><span class="counter">{{user_count}}</span></p>
                        <h5>우리는 Creator와 함께하고 있습니다.</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-info-circle"></i></div>
                        <span class="counter">{{post_count}}</span>
                        <h5>우리는 유용한 정보를 제공합니다.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- achivement area end -->
    <!-- footer area start -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> For-Creator All rights reserved | Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/counterup.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.j' %}s"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>