<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161725487-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-161725487-1');
    </script>
    
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    {% load static %}

    <!-- favicon -->
    <link rel="icon" href="{% static 'img/icon/favicon.ico' %}">

    <!-- Title Page-->
    <title>비밀번호 재설정</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'cooladmin/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'cooladmin/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'cooladmin/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'cooladmin/css/theme.css' %}" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="{% url 'index'%}">
                                <img src="{% static 'img/icon/for-creator-logo2.png' %}" alt="For-Creator-logo2">
                            </a>
                        </div>
                        <div class="login-form">
                            <strong>입력한 이메일 계정이 있는 경우 비밀번호 설정에 대한 지침을 이메일로 보냅니다.</strong>
                            <strong>이메일을 받지 못한 경우 입력한 이메일 주소가 맞는지 확인하고 스팸 폴더를 확인하세요.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

   <!-- Jquery JS-->
   <script src="{% static 'cooladmin/vendor/jquery-3.2.1.min.js' %}"></script>
   <!-- Bootstrap JS-->
   <script src="{% static 'cooladmin/vendor/bootstrap-4.1/popper.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
   <!-- Vendor JS       -->
   <script src="{% static 'cooladmin/vendor/slick/slick.min.js' %}">
   </script>
   <script src="{% static 'cooladmin/vendor/wow/wow.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/animsition/animsition.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
   </script>
   <script src="{% static 'cooladmin/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/counter-up/jquery.counterup.min.js' %}">
   </script>
   <script src="{% static 'cooladmin/vendor/circle-progress/circle-progress.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/chartjs/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'cooladmin/vendor/select2/select2.min.js' %}">
   </script>

   <!-- Main JS-->
   <script src="{% static 'cooladmin/js/main.js' %}"></script>

</body>

</html>
<!-- end document-->